<html>
  <head>
    <title>forks of gist_id {{ gist_id }}</title>
  </head>
  <body>
    <h1>forks of gist_id {{ gist_id }}</h1>

    <table>
        <tr>
            {% for k in keys %}
                <th>{{ k }}</th>
            {% endfor %}
            <th>bl.ocks.org current</th>
            <th>purview versions</th>
        </tr>
        {% for m in forks %}
            <tr>
            {% for k in keys %}
                {% if k.endswith("avatar_url") %}
                    <td><img src="{{ m[k] }}&s=60"/></td>
                {% else %}
                    <td>{{ m[k] }}</td>
                {% endif %}
            {% endfor %}
            <td><a href="http://bl.ocks.org/{{ m["owner/login"] }}/{{ m["id"] }}">
                <img src="http://bl.ocks.org/{{ m["owner/login"] }}/raw/{{ m["id"] }}/thumbnail.png"><br>(blocks)
            </a></td>
            <td><a href="/versions/{{ m["id"] }}">purview</a></td>
            </tr>
        {% endfor %}
    </table>
  </body>
</html>