<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=1000">
<title>forks of gist_id {{ gist_id }}</title>

<link rel="icon" href="/static/favicon.png">
<style>
@import url("/static/style.css");
</style>

<h1>forks of {{ gist_id }}</h1>

<table>
    <tr>
        {% for k in keys %}
            <th>{{ k }}</th>
        {% endfor %}
        <th>bl.ocks.org current</th>
        <th>purview versions</th>
    </tr>
    {% for m in forks %}
        <tr>
        {% for k in keys %}
            {% if k.endswith("avatar_url") %}
                <td><img src="{{ m[k] }}&amp;s=60" width="60" height="60"/></td>
            {% else %}
                <td>{{ m[k] }}</td>
            {% endif %}
        {% endfor %}
        <td><a href="http://bl.ocks.org/{{ m["owner/login"] }}/{{ m["id"] }}">
            <img src="http://purview-blocks.herokuapp.com/{{ m["owner/login"] }}/raw/{{ m["id"] }}/thumbnail.png"><br>(blocks)
        </a></td>
        <td><a href="/versions/{{ m["id"] }}.html">purview</a></td>
        </tr>
    {% endfor %}
</table>
