<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=1000">
<title>purview</title>

<link rel="icon" href="/static/favicon.png">
<style>
@import url("/static/style.css");
</style>

<h1>purview home page</h1>

<h2>19.2.MDDN342</h2>
        <a href="/assignment/19.2.mddn242.ps1.html">Assignment PS1: Living Wallpaper</a> <a href="/forks/cc58c0b45865c0142c6ca16f01c10131.html">(forks)</a><hr>
        <hr>

<h2>19.1.MDDN242</h2>
        <a href="/forks/a7bc83a5da33f9a6da26a239eae95ef5.html">Forks of PS1: Clocks</a>
        <hr>
        <a href="/assignment/19.1.mddn242.ps2.html">Assignment PS2: Alphabet</a> <a href="/forks/75a40940512f5dd9a37a1ca25b77b8db.html">(forks)</a><hr>
        <a href="/assignment/19.1.mddn242.ps3.html">Assignment PS3: Glyphs</a> <a href="/forks/d8b96e81d7417ab090a6e0cd31b0829f.html">(forks)</a><hr>
        <a href="/assignment/19.1.mddn242.ps4.html">Assignment PS4: Custom Pixel</a>  <a href="/forks/6444f3a875411859e4c778844ef53f05.html">(forks)</a><hr>

<!--
        <a href="/">Assignment PS1: Clocks</a>
        <a href="/forks/a7bc83a5da33f9a6da26a239eae95ef5.html">(forks)</a>
        <hr>
        <a href="/">Assignment PS2: Alphabet</a>
        <a href="/forks/75a40940512f5dd9a37a1ca25b77b8db.html">(forks)</a>
        <hr>
        <hr>
        <a href="/">Assignment PS3: Glyph</a><p>
    <hr>
        <a href="/">Assignment PS4: Custom Pixel</a>
        <a href="/forks/65bf12998a2f05df4418d0428e67436c.html">(forks)</a>
    <hr>
-->

<p>
<p>
<p>
<hr size="100">
<hr>
<h3>Archives</h3><p>
<hr size="100">
<hr>
<p>

<h2>18.2.MDDN342</h2>
        <hr>
        <a href="/assignment/18.2.mddn342.ps1.html">Assignment PS1: Parametric Faces</a><hr>
        <a href="/forks/9175f0a95d9a3a94e197a3d352e5be1c.html">Forks of PS2: Face Mappings</a><hr>
        <a href="/assignment/18.2.mddn342.ps3.html">Assignment PS3: Iterative Wallpaper</a> <a href="/forks/81264e9c786fb78138df226b8a7f7fdf.html">(forks)</a><hr>
        <a href="/assignment/18.2.mddn342.ps4.html">Assignment PS4: Procedural Map</a> <a href="/forks/dece0be274ed3a21ee238c351dc99c51.html">(forks)</a><hr>

<p>
<hr>
<p>

<h2>18.1.MDDN242</h2>
        <a href="/assignment/18.1.mddn242.ps1.html">Assignment PS1: Clocks</a>
        <hr>
        <a href="/assignment/18.1.mddn242.ps2.html">Assignment PS2: Alphabet</a><p>
    <hr>
        <a href="/assignment/18.1.mddn242.ps3.html">Assignment PS3: Glyph</a><p>
    <hr>
        <a href="/assignment/18.1.mddn242.ps4.html">Assignment PS4: Custom Pixel</a>
        <a href="/forks/65bf12998a2f05df4418d0428e67436c.html">(forks)</a>
    <hr>


<h2>17.2.MDDN342</h2>
    <hr>
        <a href="/forks/f2e0ec3596ecb374e435c4ea16bd990e.html">Forks of PS1</a>
    <hr>
        <a href="/forks/f0e72971c9dd4116a377012308e9283e.html">Forks of PS2</a>
    <hr>
        <a href="/forks/a40272315a1376256619e3537a9806b8.html">Forks of PS3</a>
    <hr>
        <a href="/forks/b963e498ccfce6a14de7827c1df6e665.html">Forks of PS4</a>
    <hr>

<h2>17.1.MDDN242</h2>
    <hr>
        <a href="/forks/2939d3ba91b7ee747a36466dd7a0dfb5.html">Forks of PS1</a>
    <hr>
        <a href="/forks/62f5c5cb5b8914e100c0fda3b6f9ef03.html">Forks of PS2</a>
    <hr>
        <a href="/forks/e61e9b409d3f2a9122774790324f49eb.html">Forks of PS3</a>
    <hr>
        <a href="/forks/99fa8145eb757042fca7396efbd9a1ce.html">Forks of PS4</a>
    <hr>


<h2>16.2.MDDN342</h2>
<hr>
    <a href="/forks/e8f7f19f503af19d7591a9723e67db8a.html">Forks of PS1</a>
<hr>
    <a href="/forks/169c75cd6803e5662a11a6b3303b4d67.html">Forks of PS2</a>
<hr>
    <a href="/forks/a937cdee02e0ee311d500000cf9e7a6c.html">Forks of PS3</a>
<hr>
    <a href="/forks/1b4c38b6dc5b9c69177466a17c4680b2.html">Forks of PS4</a>
<hr>
    <a href="/forks/a0ef81cf281d53066ebb2416c1cae3b4.html">Forks of PS5</a>
<hr>
	<a href="/versions/95f53cc9bedf61d8f8a051d5650fd55d.html">Versions of a gist (example)</a>
<hr>
    <a href="/members/vusd-mddn342-2016.html">Members of vusd-342-2016</a>
<hr>
