<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=1000">
<title>members of organization {{ org }}</title>

<link rel="icon" href="/static/favicon.png">
<style>
@import url("/static/style.css");
</style>

<h2>{{ org }}</h2>

<table width="100%">
    {% for r in rows %}
        <tr width="100%">
        {% for m in r %}
            <td align="center">
                <a href="http://bl.ocks.org/{{ m["login"] }}">
                    <img src="{{ m["avatar_url"] }}&s=60" width="60" height="60"/>
                    <br>
                    {{ m["name"] }}
            </td>
        {% endfor %}
        <tr>
    {% endfor %}
</table>
